python-dotenv
thefuzz
python-multipart
lime
textblob
scikit-learn
matplotlib
seaborn
wordcloud
spacy
sentence-transformers
torch
fastapi
uvicorn
groq
pdfplumber
pandas
numpy
datasets
streamlit
requests
deep-translator
beautifulsoup4
streamlit>=1.35.0
