python-dotenv
thefuzz
python-multipart
lime
textblob
scikit-learn
matplotlib
seaborn
wordcloud
spacy
sentence-transformers
torch
fastapi
uvicorn
pdfplumber
pandas
numpy
streamlit
requests
deep-translator
beautifulsoup4
streamlit